<!DOCTYPE html>
<html>
  <% include ../ui/header %>
  <body id="profile">
    <% include ../ui/top_menu %>
    <div class="profile-content-wrapper">
      <section class="profile-display-wrapper">
				<div class="background-gradient">
					<div class="top-section">
						<div class="left-gr"></div>
						<div class="right-gr"></div>
					</div>
					<div class="bottom-gr"></div>
				</div>
				<div class="profile-avatar-complete">
					<div class="profile-avatar"><img id="profile-image" src="<%=gamer.profile_picture%>"></img></div>
					<div class="user-level">
						<%=gamer.level%>
					</div>
					<div class="user-info">
						<div class="gamertag">
							<%=gamer.gamertag%>
						</div>
						<div class="region">
							<%=gamer.platform%>
						</div>
					</div>
				</div>
				<div class="user-actions-container">
					<div class="user-actions">
						<% if (session && session._id) { %>
							<% if (gamer.hasReviewed) {%>
								<button class="action review-btn reviewed-btn" disabled>
									<img src="/static/images/check.svg" class="action-icn review"></img>
									<div class="action-text reviewed-text">REVIEWED</div>
								</button>
							<% } else { %>
								<button uk-toggle="target: #review-modal" class="action review-btn">
									<img src="/static/images/pencil.svg" class="action-icn review"></img>
									<div class="action-text">REVIEW</div>
								</button>
							<% } %>
						<%} else {%>
							<button uk-toggle="target: #signup-signin-modal" class="action review-btn">
								<img src="/static/images/pencil.svg" class="action-icn review"></img>
								<div class="action-text">REVIEW</div>
							</button>
						<%}%>
						<button class="action favorites-btn"><img src="/static/images/favorite-empty.svg" /></button>
						<button class="action"><img src="/static/images/share.svg" /></button>
					</div>
				</div>
				<div class="common-table-header-selector profile-table-header-selector">
					<span class="selector summary selected">SUMMARY</span>
					<span class="selector leagues">LEAGUES</span>
				</div>
			</section>
			<section class="summary-section">
					<% if (gamer.game === "League Of legends") { %>
						<%- include ../ui/profile-components/summaries/lol %>
						<%- include('../ui/profile-components/leagues/lol', {
							ranked: gamer.stats.ranked,
							region: gamer.region,
							gamertag: gamer.gamertag
						}) %>
					<%}%>
			</section>
    </div>
		<% include ../ui/login/signup_signin_modal %>
		<% include ../ui/profile-components/review-modal %>
    <% include ../ui/footer %>
  </body>
</html>
