	<article class="uk-comment">
    <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            <img class="uk-comment-avatar" src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Video-Game-Controller-Icon-IDV-green.svg" width="80" height="80" alt="">
        </div>
        <div class="uk-width-expand">
            <h4 class="uk-comment-title uk-margin-remove">
              <%if(review.username) {%>
                <%=review.username%>
              <%} else {%>
                Anonymous
              <%}%>
            </h4>
            <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li><div><%=timeSince(review.date) %></div></li>
            </ul>
        </div>
    </header>
    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
    		<li id="review-rating">
    			<%var rev = "Disapproval" %>
    			<%if(review.review_type === 'REP'){ rev = "Approval" }%><%=rev%></li>
                <li id="review-card-tag">
            	<% for(var i = 0; i < review.tags.length; i++){%>
                    <% var tag = review.tags[i].name; %>
                    <% if(i < 2) tag+= ","; %>
  					<%=tag%></a>
  				<% } %>
                </li>
            </ul>
    <div class="uk-comment-body">
        <p id="review-comment"><%=review.comment%></p>
        <% if(review.comment.length > 540){%>
        <p><a id="see-more">SHOW MORE</a></p>
        <%}%>
    </div>
</article>
