<div class="no-review-wrapper">
	<div id="no-review-text-wrapper">
	<h1 id="shrug-header">¯\_(ツ)_/¯</h1>
	<h2 id="x-hasnt-been-reviewed"><%= gamer.gamertag %> <%=__('no_review_1')%></h2>
	<p id="review-sub"><%=__('no_review_2p1')%> 

		<% if (session && session._id) { %>
			<a id="review-link" uk-toggle="target: #review-modal"><%=__('review_this_gamer')%></a> 
		<% } else {%>
			<a id="review-link" uk-toggle="target: #signup-signin-modal"><%=__('review_this_gamer')%></a> 
		<% } %>

		<%=__('or')%> <%=__('subscribe')%> <%=__('no_review_2p2')%></p>
	<p id="review-sub"><%=__('no_review_3')%></p>
	</div>
</div>