<!-- Signup signin modal -->
<div id="signup-signin-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body modal-body">
      <button id="signin-signup-modal-close" class="uk-modal-close-default" type="button" uk-close></button>
      <ul uk-tab class="top-menu">
        <li class="top-menu-tab js-top-menu-tab-signin js-signin-mode">
          <a href="#"><%=__('signin_title')%></a>
        </li>
        <li class="js-top-menu-tab-signup js-signup-mode">
          <a href="#"><%=__('signup_title')%></a>
        </li>
      </ul>
      <div class="modal-content">
        <section class="signup-mode">
          <fieldset class="uk-fieldset">
            <div class="">
              <p class="uk-text-small tip"><%=__('signup_tip')%></p>
              <input required id="signup-email" class="email uk-input" type="text" placeholder="email@address.com">
              <input required id="signup-pwd" class="password uk-input" type="password" placeholder="password">
              <div id="signup-error-msg" class="input-error-msg uk-text-small"></div>
              <button class="submit js-signup"><%=__('create_account')%></button>
              <p class="uk-text-small or"><%=__('or')%></p>
              <div class="social">
                <div class="fb-login-button js-facebook-auth" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false"
                  data-use-continue-as="true"></div>
                <!-- <button class="facebook uk-button js-facebook-auth">
                  <span class="uk-icon-facebook">
                  </span>
                  <%=__('facebook')%>
                </button> -->
                <!-- <button class="twitter uk-button"><%=__('twitter')%></button> -->
              </div>
            </div>
          </fieldset>
        </section>
        <section class="signin-mode">
          <input autocomplete="email" required id="signin-email" class="email uk-input" type="email" placeholder="email@address.com">
          <input autocomplete="current-password" required id="signin-pwd" class="password uk-input" type="password" placeholder="password">
          <div id="signin-error-msg" class="input-error-msg uk-text-small"></div>
          <button class="submit uk-button js-signin"><%=__('signin')%></button>
        </section>
        <p class="user-agreement-text uk-text-small"><%=__('user_agreement_text')%></p>
    </div>
    </div>
</div>