<!-- Signup signin modal -->
<div id="signup-signin-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body modal-body">
      <button id="signin-signup-modal-close" class="uk-modal-close-default" type="button" uk-close></button>
      <ul uk-tab class="top-menu">
        <li class="top-menu-tab js-top-menu-tab-signin js-signin-mode">
          <a href="#"><%=__('signin_title')%></a>
        </li>
        <li class="js-top-menu-tab-signup js-signup-mode">
          <a href="#"><%=__('signup_title')%></a>
        </li>
      </ul>
      <div class="modal-content">
        <section class="signup-mode" style="display: none;">
          <fieldset class="uk-fieldset">
            <div class="">
              <p class="uk-text-small tip"><%=__('signup_tip')%></p>
              <input required id="signup-email" class="email uk-input" type="text" placeholder="email@address.com">
              <input required id="signup-displayname" class="displayname uk-input" type="text" placeholder="display name">
              <input required id="signup-pwd" class="password uk-input" type="password" placeholder="password">
              <div id="signup-error-msg" class="input-error-msg uk-text-small"></div>
              <div class="checkbox-container">
                <label class="user-agreement-label">
                  <input class="newsletter-checkbox" type="checkbox"> I agree to receive product updates and promotional emails
                </label>
                <label id="ua-input" class="user-agreement-label">
                  <input class="user-agreement-checkbox" type="checkbox"> I agree to Gamerscout's <a target="_blank" id="ua-terms" href="/legal">Terms of Use</a> and <a target="_blank" id="ua-policy" href="/legal">Privacy Policy</a>
                </label>
              </div>
              <button class="submit js-signup"><%=__('create_account')%></button>
              <p class="uk-text-small or"><%=__('or')%></p>
              <div class="social">
              <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
              </div>
            </div>
          </fieldset>
        </section>
        <section class="signin-mode">
          <input id="signin-email" autocomplete="email" required id="signin-email" class="email uk-input" type="email" placeholder="email@address.com">
          <input id="signin-pwd" autocomplete="current-password" required id="signin-pwd" class="password uk-input" type="password" placeholder="password">
          <div id="signin-error-msg" class="input-error-msg uk-text-small"></div>
          <a uk-toggle="target: #forgot-pwd-modal" id="js-forgot-password" href="#">Forgot your password ?</a>
          <button class="submit uk-button js-signin"><%=__('signin')%></button>
          <p  class="uk-text-center uk-text-capitalize or" ><%=__('or')%></p>
          <div class="social">
          <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
          </div>
        </section>
    </div>
    </div>
    <% include ./forgot_pwd_modal %>
    <% include ./profile_setup_modal %>
</div>
