<!-- Signup signin modal -->
<div id="signup-signin-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body modal-body">
      <ul uk-tab class="top-menu">
        <li class="top-menu-tab js-top-menu-tab-signin js-signin-mode">
          <a href="#"><%=__('signin_title')%></a>
        </li>
        <li class="js-top-menu-tab-signup js-signup-mode">
          <a href="#"><%=__('signup_title')%></a>
        </li>
      </ul>
      <div class="modal-content">
        <section class="signup-mode">
          <fieldset class="uk-fieldset">
            <legend class="uk-legend">Legend</legend>
            <div class="">
              <p class="uk-text-small tip"><%=__('signup_tip')%></p>
              <input class="email uk-input" type="text" placeholder="email@address.com">
              <input class="password uk-input" type="password" placeholder="password">
              <button class="submit js-signup"><%=__('create_account')%></button>
              <p class="uk-text-small or"><%=__('or')%></p>
              <div class="social">
                <button class="facebook uk-button">
                  <span class="uk-icon-facebook">
                  </span>
                  <%=__('facebook')%>
                </button>
                <button class="twitter uk-button"><%=__('twitter')%></button>
              </div>
            </div>
          </fieldset>
        </section>
        <section class="signin-mode">
          <input class="email uk-input" type="text" placeholder="email@address.com">
          <input class="password uk-input" type="password" placeholder="password">
          <button class="submit uk-button js-signin"><%=__('signin')%></button>
        </section>
    </div>
    </div>
</div>