<div class="footer-wrapper">
  <div class="content-container">
    <a class="footer-text" class="proxima" href="mailto:team@gamerscout.com"><%=__('contact')%></a>
    <a class="footer-text" class="proxima" href="/legal/privacy"><%=__('privacy_policy')%></a>
    <a class="footer-text" class="proxima" href="/legal/tos"><%=__('terms')%></a>
  </div>
  <div class="socials-container">
    <a class="social-link discord" href="https://discord.gg/Pv5GRwA" target="_blank">
      <img class="social-icn" alt="discord icon" src="/static/images/discord.svg" />
    </a>
    <a class="social-link facebook" href="https://www.facebook.com/Gamerscout-1706834489415229/" target="_blank">
      <img class="social-icn" alt="facebook icon" src="/static/images/facebook.svg" />
    </a>
    <a class="social-link twitter" href="https://twitter.com/GamerscoutHQ" target="_blank">
      <img class="social-icn" alt="twitter icon" src="/static/images/twitter.svg" />
    </a>
  </div>
  <div class="company-title proxima">&copy; 2018 Gamerscout</div>
</div>





<!--   <div id="footer-text-wrapper">
    <a id="footer-text" class="proxima" href="mailto:team@gamerscout.com"><%=__('contact')%></a>
    <a id="footer-text" class="proxima" href="/legal/privacy"><%=__('privacy_policy')%></a>
    <a id="footer-text" class="proxima" href="/legal/tos"><%=__('terms')%></a>
    <div id="footer-text" class="proxima">English</div>
    <span id="footer-social">
      <a href="https://discord.gg/Pv5GRwA" target="_blank">
        <span class="uk-icon uk-icon-image discord-icon" style="background-image: url(/static/images/Discord-Logo-White.svg);"></span>
      </a>
      <a href="https://www.facebook.com/Gamerscout-1706834489415229/" target="_blank" uk-icon="icon: facebook;"></a>
      <a href="https://twitter.com/GamerscoutHQ" target="_blank" uk-icon="icon: twitter;"></a>
    </span>
     <div id="gs-copyright">&copy; 2018 Gamerscout</div>
  </div> -->