<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113317255-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-113317255-1');
  </script>

	<title><%= title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" value="notranslate">

  <link rel='stylesheet' href='/static/bundle.css' />
  <link rel='stylesheet' href='/static/fonts/fonts.css' />
  <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="/bower_components/uikit/css/uikit.min.css" />
  <!-- JQUERY -->
  <script src="/bower_components/jquery/dist/jquery.min.js"> </script>
  <script src="/bower_components/underscore.js"> </script>
  <!-- UIkit JS -->
  <script src="/bower_components/uikit/js/uikit.min.js"></script>
  <script src="/bower_components/uikit/js/uikit-icons.min.js"></script>
  <!-- Facebook login -->
  <script src="/js/utils/facebook.js"></script>
  <!-- Custom js -->
  <script src="/js/utils/md5.min.js"></script>
  <script src="/js/global.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/ui/login/signup_signin_modal.js"></script>
  <script src="/js/ui/login/forgot_pwd_modal.js"></script>
  <script src="/js/ui/profile-components/review-modal.js"></script>
  <script src="/js/ui/profile-components/cards/ranked.js"></script>
  <script src="/js/ui/profile-components/cards/leagues.js"></script>
  <script src="/js/ui/profile-components/filters.js"></script>
  <script src="/js/pages/profile.js"></script>
  <script src="/js/utils/data-manager.js"></script>
  <script src="/js/utils/form-error.js"></script>
  <script src="/js/utils/form-validation.js"></script>
  <script src="/js/utils/strings.js"></script>
  <script src="/js/profile.js"></script>
  <script src="/js/account_settings.js"></script>
  <script src="/js/pages/profile_setup.js"></script>

  <!-- BE data -->
  <input class="api-url" value="<%=api_url%>" hidden/>
  <input class="session-id" value="<%=session._id%>" hidden />
  <input class="facebook-id" value="<%=session.fb_id%>" hidden />
  <input class="env" value="<%=env%>" hidden />
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>