<div id="top-menu">
  <h1 class="title"><%=title%></h1>
  <div class="search-bar-container">
    <button class="game-dropdown" type="button"><%=__('game_lol')%>
      <span class="icon" uk-icon="icon: triangle-down"></span>
    </button>
    <input class="search" type="text" placeholder="<%=__('gamertag')%>"></input>
  </div>
  <span class="search-icon" uk-icon="icon: search"></span>
  <div class="signin-signup-container">
    <button class="uk-button uk-button-text signin js-signin-mode" uk-toggle="target: #signup-signin-modal"><%=__('signin')%></button>
    <button class="uk-button uk-button-default signup js-signup-mode" uk-toggle="target: #signup-signin-modal"><%=__('signup')%></button>
  </div>
</div>