<div id="top-menu">
  <h1><a class="title" href="/"><%=title%></a></h1>
  <div class="search-bar-container">
    <button class="game-dropdown" type="button"><%=__('game_lol')%>
      <span class="icon" uk-icon="icon: triangle-down"></span>
    </button>
    <input class="search" id="search-nav" type="text" placeholder="<%=__('gamertag')%>">
      <div class="cheeky-dropdown-surround-nav">
            <div id="region-dropdown-nav" uk-form-custom="target: true">
            <select id="region-selection-nav">
              <% for(var i = 0; i < lol_regions_short.length; i++){ %>
                <option value=<%=lol_regions_short[i] %>><%=lol_regions_short[i].toUpperCase()%></option>
              <%}%>
            </select>
            <span id="region-dropdown-icon-nav" class="icon" uk-icon="icon: triangle-down"></span>
        </div>
          </div>
    </input>
  </div>


<!-- This is the off-canvas sidebar -->
<div class="hamburger-menu-icon">
  <a href="#hamburger-menu" uk-icon="icon: menu; ratio: 1.5;" uk-toggle></a>
  <div id="hamburger-menu" uk-offcanvas="flip: true">
    <div class="uk-offcanvas-bar">

      <button class="uk-offcanvas-close" type="button" uk-close></button>
      <ul class="uk-list">
      <% if (session && session._id) { %>
        <li><a class="logout" href="#"><%=__('signout')%></a></li>
      <%} else {%>
        <li><a class="uk-button uk-button-text signin js-signin-mode" uk-toggle="target: #signup-signin-modal">
        <%=__('signin')%>
      </a>
     </li><li>
      <a class="uk-button uk-button-text signup js-signup-mode" uk-toggle="target: #signup-signin-modal">
        <%=__('signup')%>
      </a></li>
      <%}%>
    </ul>
    </div>
  </div>

</div>
  <span class="search-icon" id="search-icon-nav" uk-icon="icon: search"></span>
  <% if (session && session._id) { %>
    <a class="logout" href="#"><%=__('signout')%></a>
  <%} else {%>
    <div class="signin-signup-container">
      <button class="uk-button uk-button-text signin js-signin-mode" uk-toggle="target: #signup-signin-modal">
        <%=__('signin')%>
      </button>
      <button class="uk-button uk-button-default signup js-signup-mode" uk-toggle="target: #signup-signin-modal">
        <%=__('signup')%>
      </button>
    </div>
  <% } %>
</div>
<div id="hamburger-menu" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">...</div>
</div>