<div id="top-menu">
  <h1 class="title"><%=title%></h1>
  <div class="search-bar-container">
    <button class="game-dropdown" type="button"><%=__('game_lol')%>
      <span class="icon" uk-icon="icon: triangle-down"></span>
    </button>
    <input class="search" id="search-nav" type="text" placeholder="<%=__('gamertag')%>">
      <div class="cheeky-dropdown-surround-nav">
            <div id="region-dropdown-nav" uk-form-custom="target: true">
            <select id="region-selection-nav">
              <% for(var i = 0; i < lol_regions_short.length; i++){ %>
                <option value=<%=lol_regions_short[i] %>><%=lol_regions_short[i]%></option>
              <%}%>
            </select>
            <span id="region-dropdown-icon-nav" class="icon" uk-icon="icon: triangle-down"></span>
        </div>
          </div>
    </input>
  </div>
  <span class="search-icon" id="search-icon-nav" uk-icon="icon: search"></span>
  <div class="signin-signup-container">
    <button class="uk-button uk-button-text signin js-signin-mode" uk-toggle="target: #signup-signin-modal"><%=__('signin')%></button>
    <button class="uk-button uk-button-default signup js-signup-mode" uk-toggle="target: #signup-signin-modal"><%=__('signup')%></button>
  </div>
</div>