<div id="top-menu">
  <h1><a class="title" href="/"><%=title%></a></h1>
  <div class="search-bar-container" id="sbc">
    <button class="game-dropdown" type="button"><%=__('game_lol_full')%>
      <!-- <button class="game-dropdown" type="button"> <%=__('game_lol_full')%>  -->
      <span class="icon" uk-icon="icon: triangle-down"></span>
    </button>
    <input class="search" id="search-nav" type="text" autocomplete="new-password" placeholder="<%=__('gamertag')%>">
      <div class="cheeky-dropdown-surround-nav">
        <div id="region-dropdown-nav" uk-form-custom="target: true">
          <select id="region-selection-nav">
            <% for(var i = 0; i < api_config.regions.lol.regions_short.length; i++){ %>
              <option class="region-selection-data" value=<%=api_config.regions.lol.regions_short[i].toUpperCase() %>><%=api_config.regions.lol.regions_short[i].toUpperCase()%></option>
            <%}%>
          </select>
          <span id="region-dropdown-icon-nav" class="icon" uk-icon="icon: triangle-down"></span>
        </div>
      </div>
    </input>
    <span class="search-icon" id="search-icon-nav" uk-icon="icon: search"></span>
    <div class="user-info-container">
      <% if (session && session._id) { %>
      <a href="/account" class="username">
        <div class="ellipsis"><%=session.username %></div>
      </a>
      <%- include('../ui/hamburger') %>
      <%} else {%>
      <div class="signin-signup-container">
        <button class="uk-button uk-button-text signin js-signin-mode" uk-toggle="target: #signup-signin-modal">
          <%=__('signin')%>
        </button>
        <button class="uk-button uk-button-default signup js-signup-mode" uk-toggle="target: #signup-signin-modal">
          <%=__('signup')%>
        </button>
      </div>
      <% } %>
    </div>
  </div>
  <div id="top-menu-mobile" style="display:none;">
    <div class="search-bar-container" id="sbc">
      <a id="back-icon" uk-icon="icon: arrow-left; ratio: 1.5;"></a>
      <button class="game-dropdown" type="button"><%=__('game_lol')%>
        <span class="icon" uk-icon="icon: triangle-down"></span>
      </button>
      <input class="search" id="search-nav-mobile" autocomplete="new-password" type="text" placeholder="<%=__('gamertag')%>">
        <div class="cheeky-dropdown-surround-nav">
              <div id="region-dropdown-nav" uk-form-custom="target: true">
              <select id="region-selection-nav-mobile">
                <% for(var i = 0; i < api_config.regions.lol.regions_short.length; i++){ %>
                  <option value=<%=api_config.regions.lol.regions_short[i] %>><%=api_config.regions.lol.regions_short[i].toUpperCase()%></option>
                <%}%>
              </select>
              <span id="region-dropdown-icon-nav" class="icon" uk-icon="icon: triangle-down"></span>
          </div>
            </div>
      </input>
      <span class="search-icon" id="search-icon-nav-mobile" uk-icon="icon: search"></span>
    </div>
  </div>
</div>

<div id="hamburger-menu" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">...</div>
</div>

