<div class="card-body attributes-container">
  <h1 class="title">ATTRIBUTES</h1>
  <div class="attributes-list">
    <% if (attributes.length === 0) {%>
      <div class="tag-container first">
        <img class="tag-icon" src="/static/images/tags/unreviewed.svg" alt="unreviewed attribute icon" />
        <span class="tag-title">UNREVIEWED</span>
      </div>
    <%} else {%>
      <% for (var i = 0; i < attributes.length; i++) {%>
        <% const first = i === 0 ? 'first' : '';%>
        <div class="tag-container <%=first%>">
          <img class="tag-icon" src="/static/images/tags/<%=attributes[i].name%>.png" alt="<%=attributes[i]%> attribute icon" />
          <span class="tag-title"><%=attributes[i].name%></span>
          <span class="tag-frequency">(<%=attributes[i].frequency%>)</span>
        </div>
      <% } %>
    <%}%>
  </div>
</div>