<!DOCTYPE html>
<html>
  <%- include ui/header %>
  <body id="index">
    <div id="fb-root"></div>
    <div class="content-wrapper">
      <section class="search-section-wrapper">
        <div class="top-bar centerize">
          <img class="logo" alt="gamerscout-logo" src="/static/images/gs-logo.png" />
          <div class="auth-container">
            <% if (session && session._id) {%>
              <a href="/account" class="username-container">
                <div class="username"><div class="ellipsis"><%=session.username %></div></div>
              </a>
              <%- include('./ui/hamburger') %>
            <% } else {%>
              <button class="signin proxima-alt js-signin-mode" uk-toggle="target: #signup-signin-modal"><%=__('signin')%></button>
              <button class="signup proxima-alt js-signup-mode" uk-toggle="target: #signup-signin-modal"><%=__('signup')%></button>
            <% }%>
          </div>
        </div>
        <div class="search-wrapper">
          <h1 class="search-text-1 proxima"><%=__('home_text1')%></h1>
          <div class="search-container">
            <div class="platform-seletor-container">
              <% for (let i = 0; i < api_config.platforms.length; i++) { %>
                <% var platform = api_config.platforms[i];%>
                <% var selected = i === 0 ? 'selected' : '';%>
                <% var enabled = platform.enabled ? 'enabled' : 'disabled'%>
                <div class="platform-icn-container <%=enabled%> <%=selected%>">
                  <img class='platform-icn <%=platform.name%>' src='<%=platform["icon-url"]%>' />
                </div>
              <% } %>
            </div>
            <div class="search-input-container">
              <input id="gamertag-to-search" class="search-input proxima-alt" autocomplete="off" placeholder="<%=__('summoner_id')%>" />
              <span class="dropdown region-dropdown">
                <span region-id="<%=api_config.regions.lol.regions[api_config.regions.lol.regions_short[0]]%>" id="region-selection" class="selected-region proxima-alt">
                  <%=api_config.regions.lol.regions_short[0]%>
                </span>
                <img class="arrow-down" alt="arrow-down" src="/static/images/arrow-down.svg" />
              </span>
              <div uk-dropdown="mode: click" class="dropdown-list">
                <% for (var i = 0; i < api_config.regions.lol.regions_short.length; i++) { %>
                  <ul class="uk-nav uk-dropdown-nav <%=api_config.regions.lol.regions_short[i]%>">
                    <a region-id="<%=api_config.regions.lol.regions[api_config.regions.lol.regions_short[i]]%>"  href="#"><%=api_config.regions.lol.regions_short[i]%></a>
                  </ul>
                <% } %>
              </div>
              <button class="search-button search-btn proxima"><%=__('search')%></button>
            </div>
          </div>
          <span class="search-text-2 proxima-alt"><%=__('home_text2')%></span>
        </div>
        <div class="gradient-bottom">
          <div class="card-title proxima-alt"><%=__('home_gamer_stats')%></div>
          <div class="home-separator"></div>
          <div class="home-cards centerize">
            <div class="card-container">
              <%- include('./ui/profile-components/cards/game_overview') %>
              <%- include('./ui/profile-components/cards/ranked/sample') %>
            </div>
            <div class="card-container">
              <%- include('./ui/profile-components/cards/game_overview') %>
              <%- include('./ui/profile-components/cards/positions', {
                          showTitle: false,
                          roles: {
                              "top": { "count": 7, "percentage": 8 },
                              "jungle": { "count": 54, "percentage": 67 },
                              "mid": { "count": 10, "percentage": 12 },
                              "bottom": { "count": 6, "percentage": 7 },
                              "support": { "count": 3, "percentage": 3 }}
                          }) %>
            </div>
            <div class="card-container">
              <%- include('./ui/profile-components/cards/game_overview') %>
              <%- include('./ui/profile-components/cards/review') %>
            </div>
          </div>
        </div>
      </section>
      <section class="reviews-section-wrapper">
        <div class="content">
          <div class="title-bandeau">
            <span class="title-text proxima-alt"><%=__('recent_reviews')%></span>
            <span class="home-separator"></span>
          </div>
          <div class="bottom">
            <div class="reviews-container">
              <% for (var i = 0; i < recent_reviews.length; i++) {%>
                <a href="/profile/lol/<%=recent_reviews[i].region%>/<%=recent_reviews[i].gamertag%>" class="review-box-<%=i%>">
                  <%- include('./ui/profile-components/cards/review', {long: true, data: recent_reviews[i]} ) %>
                </a>
              <% } %>
            </div>
            <div class="signup-container">
              <span class="signup-text prxoxima"><%=__('recent_reviews_teaser')%></span>
              <% if (session && !session._id) {%>
                <button uk-toggle="target: #signup-signin-modal" class="signup-btn proxima-alt js-signup-mode">Sign up</button>
              <% }%>
              
            </div>
          </div>
        </div>
      </section>
      <section class="featured-section-wrapper">
        <div class="title-bandeau">
          <span class="title-text proxima-alt"><%=__('featured')%></span>
          <span class="home-separator"></span>
        </div>
        <div class="featured-list centerize" id="featured-list">
          <%- include('ui/gamer_list', {data: recent_reviewed_gamers, title : 'RECENT'})%>
          <%- include('ui/gamer_list', {data: most_reviews_gamers, title : 'MOST REVIEWS'})%>
          <%- include('ui/gamer_list', {data: highest_rated_gamers, title : 'HIGHEST RATED'})%>
        </div>
      </section>
    </div>
    <%- include ui/footer %>
    <%- include ui/login/signup_signin_modal %>
  </body>
</html>
