<!DOCTYPE html>
<html>
  <% include ui/header %>
  <body id="index">
    <% include ui/top_menu %>
    <div class="content-wrapper">
      <section class="search-section-wrapper">
        <h1 class="search-text-1"><%=__('home_text1')%></h1>
        <div class="search-container">
          <button class="game-dropdown" type="button"><%=__('game_lol_full')%>
            <span id="game-dropdown-icn" class="icon" uk-icon="icon: triangle-down"></span>
          </button>
          <input class="search" id="gamertag-to-search"type="text" placeholder="<%=__('gamertag')%>">
          <div class="cheeky-dropdown-surround">
            <div uk-form-custom="target: true">
            <select id="region-selection">
              <% for(var i = 0; i < lol_regions_short.length; i++){ %>
                <option value=<%=lol_regions_short[i] %>><%=lol_regions_short[i].toUpperCase()%></option>
              <%}%>
            </select>
            <span id="region-dropdown-icon" class="icon" uk-icon="icon: triangle-down"></span>
        </div>
          </div>
          </input>
          <button class="search-button"><%=__('search')%></button>
        </div>
        <h2 class="search-text-2"><%=__('home_text2')%></h2>
      </section>
      <section class="featured-section-wrapper">
        <div class="title-bandeau">
          <h2 class="title-text"><%=__('featured')%></h2>
        </div>
        <div class="featured-list">
          <% for (var i = 0; i < 3; i++) { %>
            <%- include('ui/gamer_list', {
              gamers: featured[i].list, 
              title: featured[i].title, 
              index: i}) %>
          <% } %>
        </div>
      </section>
    </div>
    <% include ui/footer %>
    <% include ui/login/signup_signin_modal %>
  </body>
</html>
