<!DOCTYPE html>
<html>
  <% include ui/header %>
  <body id="profile">
    <% include ui/top_menu %>
    <div class="content-wrapper">
      <section class="profile-display-wrapper">
      	<div class="background-layer">
      		<div class="profile-avatar"></div>
      		<div class="profile-avatar-surround"></div>
      		<table class="profile-user-info">
      			<tr>
      				<td class="profile-reps-flames">
      					<table class="reps-flames-table">
      						<tr>
      							<td class="profile-gamertag">

      							<p class="gamertag-profile-display"><%=gamer.rep_review_count %></p>
      							<p class="gamertag-profile-review-label"><%=__('positive-review')%></p>

      							</td>
      							<td class="profile-gamertag">
      								<p class="gamertag-profile-display"><%=gamer.flame_review_count %></p>
      								<p class="gamertag-profile-review-label"><%=__('negative-review')%></p>
      							</td>
      						</tr>
      					</table>
      				</td>
      				<td class="profile-gamertag">
      					<p class="gamertag-profile-display"><%= gamer.gamertag %><p>
      					<p class="gamertag-profile-region-display"><%=gamer.platform %></p>
      					</td>
      				<td class="profile-tags">
      					<table><tr>
      					<% for(var i = 0; i < 3 && i < gamer.top_tags.length; i++){%>
      						<td><div class="gamer-tag-div"><%=gamer.top_tag[i]%></div></td>
      					<% } %>
      					</tr>
      					</table>
      				</td>
      			</tr>
      		</table>
      	</div>
      </section>
  	<div class="review-section">
  		<div class="review-player-header">
  			<span class="review-title"><%=__('reviews')%></span>
  		</div>
  			<div class="review-action-bar">
  				<button class="review-player-button" uk-toggle="target: #review-modal"><%=__('review-player')%></button>
  			</div>
  	</div>
  	<div class="profile-comment-section">
  		<% if(gamer.reviews.length == 0){ %>
  			<% include ui/profile-components/no-reviews %>
  		<% } else {%>
  			<% for(var i = 0; i < gamer.reviews.length; i++){%>
      			<%- include('ui/profile-components/comment', { review: gamer.reviews[i]}) %>
      		<% } %>
      	<% } %>
  	</div>
    </div>
		<% include ui/login/signup_signin_modal %>
		<% include ui/profile-components/review-modal %>
  </body>
</html>
