<!DOCTYPE html>
<html>
  <% include ui/header %>
  <body id="index">
    <% include ui/top_menu %>
    <div class="content-wrapper">
      <section class="profile-display-wrapper">
      	<div class="background-layer">
      		<div class="profile-avatar"></div>
      		<div class="profile-avatar-surround"></div>
      		<table class="profile-user-info">
      			<tr>
      				<td class="profile-reps-flames">
      					<table class="reps-flames-table">
      						<tr>
      							<td class="profile-gamertag">

      							<p class="gamertag-profile-display"><%=gamer.rep_review_count %></p>
      							<p class="gamertag-profile-review-label"><%=__('positive-review')%></p>

      							</td>
      							<td class="profile-gamertag">
      								<p class="gamertag-profile-display"><%=gamer.flame_review_count %></p>
      								<p class="gamertag-profile-review-label"><%=__('negative-review')%></p>
      							</td>
      						</tr>
      					</table>
      				</td>
      				<td class="profile-gamertag">
      					<p class="gamertag-profile-display"><%= gamer.gamertag %><p>
      					<p class="gamertag-profile-region-display"><%=gamer.platform %></p>
      					</td>
      				<td class="profile-tags">
      					<% for(var i = 0; i < 3 && i < gamer.top_tags.length; i++){%>
      						<div class="gamer-tag-div"><%=gamer.top_tags[i]%></div>
      					<% } %>
      				</td>
      			</tr>
      		</table>
      	</div>
      </section>
    </div>
    <% include ui/login/signup_signin_modal %>
  </body>
</html>
