<div id="lol-summary-section">
  <input class="gamer-id" value="<%=gamer.gamer_id%>" hidden />
  <input class="region" value="<%=gamer.region%>" hidden />
  <input class="gamertag" value="<%=gamer.gamertag%>" hidden />
  <div class="first-row">
    <div class="card small ranked">
      <%- include('../cards/ranked/render', { ranked: gamer.stats.ranked }) %>
    </div>
    <div class="card small ratings">
      <%- include('../cards/ratings', { approvals: gamer.rep_review_count, disapprovals: gamer.flame_review_count, total_reviews: gamer.review_count }) %>
    </div>
    <div class="card small attributes">
      <%- include('../cards/attributes', { attributes: gamer.top_tags }) %>
    </div>
  </div>
  <div class="second-row">
    <div class="left-col">
      <div class="card small positions">
        <div class="card-body">
          <h1 class="title">POSITIONS</h1>
          <div class="subtitle">Positions played most in the last 100 games</div>
          <%- include('../cards/horizontal_bar', {title: 'Top', width: gamer.stats.roles.top.percentage * 2.4}) %>
          <%- include('../cards/horizontal_bar', {title: 'Jungle', width: gamer.stats.roles.jungle.percentage * 2.4}) %>
          <%- include('../cards/horizontal_bar', {title: 'Mid', width: gamer.stats.roles.mid.percentage * 2.4}) %>
          <%- include('../cards/horizontal_bar', {title: 'Bottom', width: gamer.stats.roles.bottom.percentage * 2.4}) %>
          <%- include('../cards/horizontal_bar', {title: 'Support', width: gamer.stats.roles.support.percentage * 2.4}) %>
        </div>
      </div>
      <div class="card small champions">
        <%- include('../cards/frequent_champions', {frequent_champions: gamer.stats.frequent_champions}) %>
      </div>
    </div>
    <div id="reviews" class="reviews">
      <h1 class="title">REVIEWS</h1>
      <div class="actions">
        <% if (session && session._id && !gamer.hasReviewed) { %>
          <button uk-toggle="target: #review-modal" class="review-btn">REVIEW GAMER</button>
        <%} else if (session && session._id && gamer.hasReviewed) {%>
          <div class="review-btn reviewed-btn">
            <img class='reviewed-check' src='/static/images/check.svg' />
            <span class="">REVIEWED</span>
          </div>
        <%} else {%>
          <!-- <button uk-toggle="target: #attributes-modal" class="review-btn">REVIEW GAMER</button> -->
          <!-- <button uk-toggle="target: #review-modal" class="review-btn">REVIEW GAMER</button> -->
          <button uk-toggle="target: #signup-signin-modal" class="review-btn">REVIEW GAMER</button>
        <%}%>
          <%- include('../summaries/ui/filters', {disabled: gamer.reviews.length === 0 && sorting_params.filter === 'ALL' ? 'disabled' : ''}) %>
      </div>
      <div class="reviews-list">
        <% if (gamer.reviews.length === 0) {%>
          <div class="no-review-container">
            <img class="l1" src="/static/images/layout-list-thumb-alt.svg" />
            <div class="l2">There are no reviews to display</div>
            <div class="l3">Have you played with <%=gamer.gamertag%>?</div>
            <% if (session && session._id && !gamer.hasReviewed) { %>
              <div class="l3">Contribute with your <span class="review-link" uk-toggle="target: #review-modal">review</span></div>
            <% } else { %>
              <div class="l3">Contribute with your <span class="review-link" uk-toggle="target: #signup-signin-modal">review</span></div>
            <% } %>
          </div>
        <% } else { %>
          <% for (var i = 0; i < gamer.reviews.length; i++) { %>
          <div class="review-container">
            <div class="header">
              <div class="reviewer-img"></div>
              <div class="infos">
                <div class="gamertag">
                  <%=gamer.reviews[i].username%>
                </div>
                <div class="reviewed-at"><%=gamer.reviews[i].date_since%></div>
              </div>
              <!-- <button class="more-alt"></button> -->
            </div>
            <div class="tags">
              <% if (gamer.reviews[i].review_type === 'REP') { %>
              <div class="thumbs up"></div>
              <% } else { %>
              <div class="thumbs down"></div>
              <% } %>
              <% if (gamer.reviews[i].tags) { %>
                <% const tags = gamer.reviews[i].tags; %>
                <% for (var j = 0; j < tags.length; j++) { %>
                  <div class="tag-name proxima-alt"><%=tags[j].name%></div>
                  <div class="tag-separator proxima-alt">.</div>
                <% } %>
              <% } %>
            </div>
            <div class="review-body proxima-alt">
              <%=gamer.reviews[i].comment%>
            </div>
          </div>
          <% } %>
          <%-include('./ui/review_pagination', {pages: gamer.reviews_data.pages, page: gamer.reviews_data.page})%>
        <% } %>
      </div>
    </div>
  </div>
</div>